body {
    background: rgb(201, 199, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    position: relative;
    width: 500px;
    height: 350px;
    background-color: #000;
    overflow: hidden;
}

.card_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.15;
    transition: opacity 0.25s,
        scale 0.35s;
}

.card:hover .card_image {
    opacity: 0.75;
    scale: 1;
}

card_body {
    position: absolute;
    inset: 0;
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
}

.card_body::before {
    content: '';
    position: absolute;
    inset: 20px;
    border: 2px solid #fff;
    opacity: 0;
    scale: 1.25;
    transition: opacity 0.25s,
    scale 0.35s;
}
